$use-mozilla-ellipsis-binding: true;


//Mixins

// Fonts

@function calculateRem($size){
    $remSize: $size/8px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}


//Breakpoints

@mixin bp-large {
  @media only screen and (min-width: 80em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 48.063em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 48em) {
    @content;
  }
}


//Truncate String with Ellipsis

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


//Truncating Text with Ellipses -compass

@mixin ellipsis($no-wrap: true) {
  @if $no-wrap {
    white-space: nowrap;
  }
  overflow: hidden;
  @include experimental(text-overflow, ellipsis, not -moz, not -webkit, -o, -ms, not -khtml, official);
  @if $legacy-support-for-mozilla and $use-mozilla-ellipsis-binding {
    -moz-binding: stylesheet-url(unquote("xml/ellipsis.xml#ellipsis"));
  }
}