

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1441px;
$screen-md-max: ($screen-lg-min - 1);



$background               : #000000;
$font-primary              : 'Open Sans', sans-serif;
// $fontnavigation           : 'Helvetica Neue', Helvetica;
$font-secondary		: 'Courier New',Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;