.content{
	@include make-row();

/* Small Screens*/
	@include bp-small {

		padding-top: 4em;

	}

	@include bp-medium {

		padding-top:8em;

	}

	@include bp-large {

		padding-top: 10em;
	}

	

}



