

.footer {

    @include bp-small{

      ul{
        li{
          margin-left: 1em;
          margin-right: 1em;
        }
      }

    }

        /* Medium screens */
    @include bp-medium {

        ul{
            li{
                padding-top: 1em;
                padding-bottom:1em;
                margin-left: 2em;
                margin-right: 2em;
                padding-left: 1em;
                padding-right:1em;
            }
        }

        a{
           @include font-size(12px);
        }

    }



  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  clear: both;
  // border-top: 1px solid #EBEBEB;
  text-align: center;

    ul {

        list-style: none;
        display: inline;
        padding-left: 0;
    }

    li {

        display: inline-block;

    }



     a {
        
        
        font-weight: 500;
        color: black;
        &:hover {
            text-decoration: underline;
        }

    } 

      p {
        color: #919191;
        
        padding-top: 3em;
        @include font-size(14px);
      }

      font-family: $font-secondary;

}

.footer, .page:after {
  /* .push must be the same height as footer */
	height: 10em; 
}