header{
@include bp-small {
	height: 3.4em;
}

@include bp-medium{
	height: 4em;
}
	font-family: $font-secondary;
	width: 100%;
	height: 4em;
	position: fixed;
	top:0;
	left:0;
	z-index: 100;
	// border-bottom: 1px solid #EBEBEB;

	.main-navigation {
		position:absolute;
		
	}


}