

.item-container {
    @media (max-width: $screen-xs-max) {  
        @include make-sm-column(12); 
            margin:0px; 
            padding-left: 0px;
            padding-right: 0px;

        h3{
            padding-left: 1.5em;
        }



    }
    @media (min-width: $screen-sm-min) { 
        @include make-md-column(3);  
            
            
            margin: 0px;
            padding-left: 20px;
            padding-right: 20px;
            


    }



    @media (min-width: $screen-lg-min) { 
        @include make-lg-column(2); 

            padding: 25px 25px;
            margin: 0px 0px 40px 5px;
            border: 2px solid transparent;


            
    }

    h3 {
        @include text-truncate;
        @include font-size(14px);
        font-weight: 300;

    }

    .item-img {
    position: relative;

    img {
        width: 100%;
    }

}

cursor: pointer;
font-family: $font-primary;


}

