#main-navigation {

    /* Small screens*/

     @include bp-small {

        ul{

            li{
                padding-top: 1em;
                margin-left: .4em;
                margin-right: .4em;
                padding-left: 0em;
                padding-right:0em;
            }
        }        



        a{
           @include font-size(12px);
        }
}


    /* Medium screens */
    @include bp-medium {

        ul{
            li{
                padding-top: 1em;
                padding-bottom:1em;
                margin-left: 2em;
                margin-right: 2em;
                padding-left: 1em;
                padding-right:1em;
            }
        }

        a{
           @include font-size(16px);
        }

    }




    ul {

        list-style: none;
        display: inline;
        padding-left: 0;

    }

    li {

        display: inline-block;

    }



     a {
        font-family: $font-secondary;
        
        font-weight: 500;
        color: black;
        &:hover {
            text-decoration: underline;
        }
        &:active {
            border-bottom: 1px solid #FFFF00;
        }
    } 





    text-align: center; 
}






#main-navigation a.active{
   border-bottom: 2px solid #000000; 
   padding-bottom: 0.1em;
}

