$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'detail/detail.scss';
@import 'illustrations/illustrations.scss';
@import 'main/main.scss';
@import 'stylesheets/base/_fonts.scss';
@import 'stylesheets/base/_mixins.scss';
@import 'stylesheets/base/_variables.scss';
@import 'stylesheets/layout/pages.scss';
@import 'stylesheets/layout/responsive_grid.scss';
@import 'stylesheets/modules/content.scss';
@import 'stylesheets/modules/footer.scss';
@import 'stylesheets/modules/header.scss';
@import 'stylesheets/modules/item_container.scss';
@import 'stylesheets/modules/main_navigation.scss';
@import 'modal/modal.scss';
// endinjector


