html {
  position: relative;
  min-height: 100%;
}



.page{
     @include make-row();
      overflow: hidden;
      min-height: 100%;
  /* equal to footer height */
	  // margin-bottom: -142px; 
}


.page:after {
  content: "";
  display: block;
}