#container {

@media (max-width: $screen-xs-max) { 
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
 }

 @media (min-width: $screen-sm-min) { 
    width: 100%;
    padding-left: 20px;
    padding-right: 20px; 


 }

  @media (min-width: $screen-md-max) { 
    width: 100%;
    padding-left: 100px;
    padding-right: 100px; 

 }



}

