<div id="container">
	<div class="page">
		<header>
			<div id="main-navigation">
				<ul ng-controller="NavCtrl" >
					<li ng-repeat="item in nav"><a href="{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a> </li>
				</ul>
			</div>
		</header>


		<div class="project-container">
			<div class="project-name-description" >
				<p class="project-name">{{project.name}}</p>
				<!-- <p class="project-description">{{project.description}}</p> -->
			</div>
			<div class="project-modules" ng-repeat ="module in project.modules" ng-switch ="module.type==image">
				<!--BEGIN: Template for image. -->
				<div class="module-img">
					<img ng-src="{{module.sizes.original}}"/>
				</div>
				<!--END: Template for image. -->
				<!--BEGIN: Template for text. -->
				<div ng-switch-when="false" class="module-txt">
					<div ng-bind-html="module.text | unsafe">
					</div>
				</div>
				<!--END: Template for text. -->
			</div>
		</div>


		</div>

<footer>
	<div class="footer">
		<p>Uzziel Milian</p>
		<ul ng-controller = "FooterCtrl">
			<li ng-repeat="link in footer"><a href="{{link.url}}"> {{link.title}}</a>
			
		</li>
	</ul>
</div>
</footer>
</div>