@import './stylesheets/base/_mixins.scss';
@import './stylesheets/base/_variables.scss';
@import './stylesheets/base/_fonts.scss';
@import './stylesheets/modules/main_navigation.scss';
@import './stylesheets/modules/item_container.scss';
@import './stylesheets/layout/responsive_grid.scss';
@import './stylesheets/layout/pages.scss';





/* 
.project-container{
  @media(min-width: $screen-lg-min){
      margin-top: 2em;
  }

}

.project-name-description{
  @media(min-width: $screen-lg-min) {
    @include make-lg-column(2);
      width: 16.25%;
      float: right !important;
      padding-top: 25px;

  }
}


 */



.project-container {


	@include bp-small{


			padding-top: 6em;

	}

	@include bp-medium{

		padding-top: 8em;

	}

	@include bp-large{

			padding-top:5em;

	}
	
	a{
		text-align:left;	
	}


	
	
}





.project-name-description {

	@include bp-small {
		font-size: 150%;
	}	
	@include make-lg-column(6);
	margin: 0 auto;
	padding-bottom: 0.5em;
	float: none !important;
	font-family: $font-primary;
	@include font-size(36px);
	text-align:center;
}


.project-modules{
	


}

.module-img{

	@include bp-small{
		img {
			width:200% ;
			display: block;
   			margin-left: -50%;
    		margin-right: auto;
		}
	}

	@include bp-medium {
		img {
			width: 100%;
		}
	}

	@include bp-large {
		img {
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;

		}
	}

	@include make-lg-column(8);
	margin: 0 auto;
	float: none !important;

}

.module-txt{
	@include bp-small {
		padding-left: 2em;
		padding-right: 2em;
		font-size: 70%;		
	}

	@include bp-medium {
		@include make-md-column(10);
	margin: 0 auto;
	float: none !important;
	}

	@include bp-large{
		padding: 1em 0 1em 0;
	}

	@include make-lg-column(4);
	margin: 0 auto;
	float: none !important;
}