<div id="container">
	<div class="page">
		<header>
			<div id="main-navigation">
				<ul ng-controller="NavCtrl" >
					<li ng-repeat="item in nav"><a href="{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a> </li>
				</ul>
			</div>
		</header>
		<div class="content">
			<div class = "item-container" ng-repeat="project in projects | filter:{fields : 'UI\/UX' }" ng-click="mainGoTo(project.name, project.id )" >
				<h3>{{project.name}}</h3>
				<div class="item-img">
					<img ng-src="{{project.covers[230]}}">
				</div>
				
				
			</div>
		</div>
		
	</div>
	
	<footer>
		<div class="footer ">
			<p>Uzziel Milian</p>
			<ul ng-controller = "FooterCtrl">
				<li ng-repeat="link in footer"><a href="{{link.url}}"> {{link.title}}</a>
				
			</li>
		</ul>
	</div>
</footer>
</div>