@import './stylesheets/base/_mixins.scss';
@import './stylesheets/base/_variables.scss';


.block-margins {
	margin: 1em 0;
}

.about-me{
	margin: 0 auto;
    width: 80%;
    @include make-lg-column(8);
    float: none !important;
    padding:0;
	
	h4{
		font-weight: 600;
	}

	h5{
		@include font-size(14px);
		font-weight: 500;
	}

	p{

		@include bp-small {
			@include font-size(12px);
		}
		@extend .block-margins;
		@include font-size(14px);
	}

	font-family: $font-secondary;

}

.user-picture{
@include make-lg-column(2);
padding:0;
}