<div id="container">
  <div class="page">
    <header>
      <div id="main-navigation">
        <ul ng-controller="NavCtrl" >
          <li ng-repeat="item in nav"><a href="{{item.path}}" ng-class="{active: isActive(item)}">{{item.title}}</a> </li>
        </ul>
      </div>
    </header>




<div class="content">
  <div class="about-me">
  <div class="user-picture">
    <img ng-src="{{user.images[276]}}" alt="">
  </div>

  <div class="user-name">
  <h4>{{user.display_name}}</h4>
  </div>
  <div class="user-occupation">
    <h5>{{user.occupation}}</h5>
  </div>
  <div class="user-aboutme">
  <p>{{user.sections.About }}</p>
  </div>

  </div>
</div>

  

</div>
<footer>
  <div class="footer">
    <p>Uzziel Milian</p>
    <ul ng-controller = "FooterCtrl">
      <li ng-repeat="link in footer"><a href="{{link.url}}"> {{link.title}}</a>
      
    </li>
  </ul>
</div>
</footer>
</div>
